.form-titulo{
    background: black;
    color: #3FA535;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid#3FA535;
}
.formulario{
    background:white;
    color: #3FA535;
}

.input-textarea{
    resize: none;
}

.input-texto{
    width: 95%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #3FA535;
}

.input-textarea {
    width: 95%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #3FA535;
}

.btn-formulario{
    background: white;
    color: #3FA535;
    width: 50%;
    padding: 15px;
    margin: auto;
    border-radius: 3px;
    border: 1px solid #3FA535;
    font-size: 15px;
}

.btn-formulario:hover{
    background:black;
    color: #3FA535;
    width: 50%;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #3FA535;
    font-size: 15px;
}


/* Cuando la pantalla mida menos de 700 px, se mostrata de esta manera */
@media (max-width:700px) {
    .contenedor-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 600px;
    }

    .input-texto{
        width: 95%;
        margin-bottom: 15px;
        padding: 15px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #3FA535;
    }
    
    .input-textarea {
        width: 95%;
        margin-bottom: 15px;
        padding: 15px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #3FA535;
    }

    .formularioServicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 600px;
    }


}

@media(min-width:701px) and (max-width:1023px){
    .contenedor-contacto{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        height: 600px;
    }
    .img-maps, .formulario{
        width: 100%;
    }

    .formularioServicios{
        display: flex;
        text-align: center;
        justify-content: center;
        height: 500px;
    }

}


/* Cuando la pantalla mida mas de 1024 px, se mostrata de esta manera */
@media (min-width:1024px) { 
    .contenedor-contacto{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        height: 600px;
    }

    .img-maps, .formulario{
        width: 50%;
    }

    .formularioServicios{
        display: flex;
        text-align: center;
        justify-content: center;
        height: 600px;
    }
    

}
