.btn-formulario{
    background: white;
    color: #3FA535;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3px;
    border: 1px solid #3FA535;
    font-size: 15px;
    text-decoration: none;
}

.btn-formulario:hover{
    background:black;
    color: #3FA535;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3px;
    border: 2px solid #3FA535;
    font-size: 15px;
}

/* Cuando la pantalla mida menos de 700 px, se mostrata de esta manera */
@media (max-width:700px) {
    .seccionesInicio, .informacionServicios, .seccionesInicio, .seccionContactanosInicio ,.seccion_Servicios, .seccion_Servicios_Mantenimiento, .seccion_Servicios_Electronica, .seccionHistoria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media(min-width:701px) and (max-width:1023px){
    .seccionesInicio, .informacionServicios, .seccionesInicio, .seccionContactanosInicio ,.seccion_Servicios, .seccion_Servicios_Mantenimiento, .seccion_Servicios_Electronica, .seccionHistoria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .bienvenida1{ width: 50%;}
    .bienvenida2{ width: 50%;}
    .bienvenida3{ width: 50%;}
    .bienvenida4{ width: 50%;}

    .texto_servicio {width: 50%; align-self: center;}
    .boton_servicio {width: 50%; align-self: center;}

    .textoContactanos{width: 100%;}
    .icono1_contactanos{ width: 50%;}
    .icono2_contactanos{ width: 50%;}
    .icono3_contactanos{ width: 100%;}

    .seccion_informacion_electronica{width: 50%;}
    .seccion_informacion_mantenimiento{width: 50%;}
    .seccion_informacion_consultarServicio{width: 50%;}

    .seccion_Servicios_imagen{width: 50%;}
    .seccion_Servicios_texto{width: 50%;}

    .historia{width:50%;}
    .excelencia{width:50%;}
}


/* Cuando la pantalla mida mas de 1024 px, se mostrata de esta manera */
@media (min-width:1024px) {
    .seccionesInicio, .informacionServicios, .seccionesInicio, .seccionContactanosInicio ,.seccion_Servicios, .seccion_Servicios_Mantenimiento, .seccion_Servicios_Electronica, .seccionHistoria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .bienvenida1{ width: 100%;}
    .bienvenida2{ width: 50%;}
    .bienvenida3{ width: 50%;}
    .bienvenida4{ width: 100%;}

    .textoContactanos{width: 25%}
    .icono1_contactanos{ width: 25%;}
    .icono2_contactanos{ width: 25%;}
    .icono3_contactanos{ width: 25%; margin-top: 10px;}

    .texto_servicio {width: 100%; align-self: center;}
    .boton_servicio {width: 100%; align-self: center;}

    .seccion_informacion_electronica{width: 33%;}
    .seccion_informacion_mantenimiento{width: 33%;}
    .seccion_informacion_consultarServicio{width: 33%;}

    .seccion_Servicios_imagen{width: 50%;}
    .seccion_Servicios_texto{width: 50%;}

    .historia{width:50%;}
    .excelencia{width:50%;}
}

