/* Cuando la pantalla mida menos de 700 px, se mostrata de esta manera */
@media (max-width:700px) {
    .seccionesInicio, .informacionServicios, .seccionesInicio, .seccionContactanosInicio ,.seccion_Servicios, .seccion_Servicios_Mantenimiento, .seccion_Servicios_Electronica, .seccionHistoria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media(min-width:701px) and (max-width:1023px){
    .seccionesInicio, .informacionServicios, .seccionesInicio, .seccionContactanosInicio ,.seccion_Servicios, .seccion_Servicios_Mantenimiento, .seccion_Servicios_Electronica, .seccionHistoria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .bienvenida1{ width: 50%;}
    .bienvenida2{ width: 50%;}
    .bienvenida3{ width: 50%;}
    .bienvenida4{ width: 50%;}

    .img_mantenimiento{width: 50%;}
    .inf_mantenimiento{width: 50%;}
    .img_electronica{width: 50%;}
    .inf_electronica{width: 50%;}

    .textoContactanos{width: 100%;}
    .icono1_contactanos{ width: 50%;}
    .icono2_contactanos{ width: 50%;}
    .icono3_contactanos{ width: 100%;}

    .seccion_informacion_electronica{width: 50%;}
    .seccion_informacion_mantenimiento{width: 50%;}
    .seccion_informacion_consultarServicio{width: 50%;}

    .seccion_Servicios_imagen{width: 50%;}
    .seccion_Servicios_texto{width: 50%;}

    .historia{width:50%;}
    .excelencia{width:50%;}
}


/* Cuando la pantalla mida mas de 1024 px, se mostrata de esta manera */
@media (min-width:1024px) {
    .seccionesInicio, .informacionServicios, .seccionesInicio, .seccionContactanosInicio ,.seccion_Servicios, .seccion_Servicios_Mantenimiento, .seccion_Servicios_Electronica, .seccionHistoria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .bienvenida1{ width: 100%;}
    .bienvenida2{ width: 50%;}
    .bienvenida3{ width: 50%;}
    .bienvenida4{ width: 100%;}

    .img_mantenimiento{width: 25%;}
    .inf_mantenimiento{width: 25%;}
    .img_electronica{width: 25%;}
    .inf_electronica{width: 25%;}

    .textoContactanos{width: 25%}
    .icono1_contactanos{ width: 25%;}
    .icono2_contactanos{ width: 25%;}
    .icono3_contactanos{ width: 25%; margin-top: 10px;}


    .seccion_informacion_electronica{width: 33%;}
    .seccion_informacion_mantenimiento{width: 33%;}
    .seccion_informacion_consultarServicio{width: 33%;}

    .seccion_Servicios_imagen{width: 50%;}
    .seccion_Servicios_texto{width: 50%;}

    .historia{width:50%;}
    .excelencia{width:50%;}
}

